<div class="container">
  <div class="jumbotron">
    <h1>beersteriz0r 0.0.1 alpha</h1>
  </div>
  <div *ngFor="let keg of kegs; let i = index" class="keg">
    <div class="keg-info">
      <div class="keg-left">
        <p class="keg-name">{{keg.name}} <span class="keg-style">({{keg.style}})</span></p>
        <p class="keg-brand">{{keg.brand}} ({{keg.brandLocation}})</p>
        <div class="buttins">
          <button type="button" [class]="'btn ' + ((keg.pints > 25) ? 'btn-success' : (keg.pints > 0) ? 'btn-warning' : 'btn-danger')" name="button" (click)="sellPint(keg)" [disabled]="keg.pints === 0">Sell Pint</button>
          <select class="form-control dropdown" [(ngModel)]="keg.pintsToSell">
            <option value="1">16oz</option>
            <option value="2">32oz</option>
            <option value="4">64oz</option>
          </select>
        </div>
      </div>
      <div class="keg-middle">
        <div [ngSwitch]="percentage(keg)">
          <img *ngSwitchCase="1" src="resources/images/1.jpg" class="keg-fullness">
          <img *ngSwitchCase="2" src="resources/images/2.jpg" class="keg-fullness">
          <img *ngSwitchCase="3" src="resources/images/3.jpg" class="keg-fullness">
          <img *ngSwitchCase="4" src="resources/images/4.jpg" class="keg-fullness">
          <img *ngSwitchCase="5" src="resources/images/5.jpg" class="keg-fullness">
          <img *ngSwitchCase="6" src="resources/images/6.jpg" class="keg-fullness">
          <img *ngSwitchCase="7" src="resources/images/purell.jpg" class="keg-fullness purell">
        </div>
      </div>
      <div class="keg-right">
        <p [class]="keg.isOnSale ? 'keg-price-sale keg-price' : 'keg-price'">${{keg.price.toFixed(2)}}</p>
        <p *ngIf="keg.abv > 6.9" class="keg-size">12oz / {{keg.abv}}% ABV <img src="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/256/skull-and-crossbones.png" class="skull"></p>
        <p *ngIf="keg.abv <= 6.9" class="keg-size">16oz / {{keg.abv}}% ABV</p>
      </div>

    </div>
    <div class="more-buttins">
      <button type="button" class="btn btn-info" (click)="toggleSale(keg)">{{toggleSaleButton(keg)}}</button><br>
      <button type="button" class="btn btn-warning edit" data-toggle="modal" data-target="#keg-modal" (click)="newKeg=keg; editStatus='Edit'">Edit Kiig</button><br>
      <button type="button" class="btn btn-danger" (click)="removeKeg(i)">Remove</button><br>
      <button type="button" class="btn btn-success" (click)="keg.pints=124">Restock</button>
    </div>

  </div>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keg-modal" (click)="editStatus='Add'; resetKeg()">Add Keg</button>
</div>

<!-- Modal -->
<div id="keg-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{editStatus}}</h4>
      </div>
      <form >
        <div class="modal-body">
            <div class="form-group">
              <label for="keg-name">Name:</label>
              <input class="form-control" id="keg-name" name="keg-name" type="text" [(ngModel)]="newKeg.name">
            </div>
            <div class="form-group">
              <label for="keg-brand">Brand:</label>
              <input class="form-control" id="keg-brand" name="keg-brand" type="text" [(ngModel)]="newKeg.brand">
            </div>
            <div class="form-group">
              <label for="keg-brand-location">Brand Location:</label>
              <input class="form-control" id="keg-brand-location" name="keg-brand-location" type="text" [(ngModel)]="newKeg.brandLocation">
            </div>
            <div class="form-group">
              <label for="keg-style">Style:</label>
              <input class="form-control" id="keg-style" name="keg-style" type="text" [(ngModel)]="newKeg.style">
            </div>
            <div class="form-group">
              <label for="keg-price">Price:</label>
              <input class="form-control" id="keg-price" name="keg-price" type="text" [(ngModel)]="newKeg.price">
            </div>
            <div class="form-group">
              <label for="keg-alcohol-content">Alcohol Content:</label>
              <input class="form-control" id="keg-alcohol-content" name="keg-alcohol-content" type="text" [(ngModel)]="newKeg.abv">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" data-dismiss="modal" (click)="editKegList()">{{editStatus}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
